{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <main>
        <p>
            Cs50x has been a fantastic learning experience. It has broadened my knowledge of computer programming and computer science.
            I only began my computer programming journey 5 months ago and I feel I have learned so much already, with still a lot more to go. So,
            I decided to use the final project of Cs50x as a homage and portfolio of sorts to display the things I have learned during the course.
        </p>
        <p>
            Although this may not meet all of the requirements of a Final Project. This is not going to change the world, it doesn't solve any
            major current issues and it is unlikely going to impact the community. However, in order to achieve these goals everyone must start
            from humble beginnings. I may not be ready to change the world, however I have begun my journey to one day impact it.
        </p>
        <p>
            Each of the projects here represent some part of the Cs50x course. <a href="/balls">Balls</a> is a Javascript version of
            my original Scratch project from week 0, which can be found <a href="https://scratch.mit.edu/projects/700941349/" target="_blank">here.</a> <a href="/quiz">Quiz</a> is small a variation from week 8's Lab Set Trivia. <a href="quote">Quotes</a>
            is a Random Quote Machine Generator, which drew inspiration from part of my Homepage in Problem Set 8. Finally <a href="/comments">Comments</a> is a part of the
            website where users can provide feedback on the projects. This is slightly based on the Lab 9 project Birthdays and incorporates some interactivity on this web application.
        </p>
        <p>
            This web application was built with a similar stack to Problem Set 9 Finance. All of the programming languages and librabries I used
            are described in more depth in my README file, I hope you take a look. If you would like to reach me, feel free to connect with me following one of the links below.
        </p>
        <div id="contact" class="jumbotron vertical-center">
            <h6 class="display-6">Contact Details</h6>
            <p class="lead">I hope we can connect soon!</p>
            <hr class="my-4">
            <p>
                <ul class="list-unstyled">
                    <li>Twitter <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                      </svg> : <a href="https://twitter.com/AlexAllen247" target="_blank"> AlexAllen247</a></li>
                    <li>Github <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg> : <a href="https://github.com/AlexAllen247" target="_blank">AlexAllen247</a></li>
                    <li>freeCodeCamp: <a href="https://www.freecodecamp.org/AlexAllen247" target="_blank">AlexAllen247</a></li>
                </ul>
            </p>
        </div>
    </main>
{% endblock %}